@import '../../../Assets/colors.scss';

.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    width: 100px;
    margin-left: 1rem;
    padding: 0 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  .toggle-button__line {
    width: 100px;
    height: 4px;
    background: $links-color;
  }