body{
    margin: 0;
}
nav{
    background-color: #D8FBFF;
    color: #2F2C2C;
    width: 100%;
    height: 130px;
}
#logo{
    float: left;
    width: 160px;
    height: 110px;
    padding: 20px;
    margin-left: 20px;
    cursor: pointer;
}
ol{
    float: left;
    margin-left: 350px;
    margin-top: 30px;
}
ol > li{
    display: inline-block;
    font-size: 28px;
    padding: 20px;
}
ol > li:hover{
    background-color: #39CBFF;
    color: #FFF;
    border-radius: 20px;
    cursor: pointer;
}
header{
    clear: both;
    text-align: center;
    font-size: 48px;
    padding: 20px;
}
#content{
    width: 600px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: #D8FBFF;
}
.offers{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095D3;
    float: left;
    position: relative;
}
.offers1{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095D3;
    float: left;
    position: relative;
}