/*#aboutParagraph {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: justify;

    span {
        position: absolute;
        border-left: 1px solid transparent;
        animation: write 10s steps(25,start) infinite, chars 1s step-end infinite;
        -webkit-animation:  write 10s steps(25,start) infinite, chars 1s step-end infinite;
    }
}*/
.about {
    
}